<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/inventory.css">
    <div class="banner"><img src="{{ user_image }}"></div>
  </head>
  <body>

    <header> 
        <nav>
            <div id="nav-bar">
                <li><a href="#banner">Home</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/GroceryList">Grocery List</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="recipe.html">Recipe</a></li>
            </div>
        </nav>
    </header>

    <div id="add_delete">
    <div class="dropdown">
        <span>Add an Item</span>
        <div class="dropdown-content">
            <form method = "POST">
                <p>
                    Item to Add
                    <input type = "Name" name = "Name" required/>
                </p>
                <p>
                    Expiration Date
                    <input type = "Month" name = "Month" maxlength = 2 required/>
                    <input type = "Day" name = "Day" maxlength = 2 required/>
                    <input type = "Year" name = "Year" maxlength = 4 required/>
                </p>
                <p>
                    Quantity
                    <input type = "Quantity" name = "Quantity" required/>
                </p>
                <p>
                    Gluten Free
                    <input type = "GF" name = "GF" value = False  required/>
                </p>
                <p>
                    Dairy Free
                    <input type = "DF" name = "DF" value = False required/>
                </p>
                <p>
                    Nut Free
                    <input type = "NF" name = "NF" value = False required/>
                </p>
                <p>
                    Vegan
                    <input type = "Vegan" name = "Vegan" value = False required/>
                </p>
                <p>
                    Vegetarian
                    <input type = "Vegetarian" name = "Vegetarian" value = False pattern="[A-Za-z]{4,5}" title="Eight or more characters" required/>
                </p>
                <input type="submit" value="ADD"/>
            </form>
        </div>
    </div>

    <div class="delete">
        <span>Delete an Item</span>
        <div class="delete-content">
            <form method = "POST">
                <p>
                    Item to Delete:
                    <input type = "Delete" name = "Delete" />
                    Quantity of Item:
                    <input type = "Quantity" name = "Quantity" />
                    <input type = "submit" value = "DELETE" />
                </p>
            </form>
        </div>
    </div>
    </div>

    <div class="sort">
        <form method = "POST">
            <input type="submit" name = "SortDateDescending" value="Sort Date Descending" />
            <input type="submit" name = "SortDateAscending" value="Sort Date Ascending" />
            <input type="submit" name = "SortName" value="Sort Name" />
        </form>
    </div>



    <table class="items" border=2 style="height:100%;width:100%;">
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Expiration Date</th>
              <th>Expired</th>
              <th>GF</th>
              <th>DF</th>
              <th>NF</th>
              <th>V</th>
              <th>VG</th>
          </tr>
        <tbody>
          {%for object in object_list%}
          <tr>
              <td>{{object.get_name()}}</td>
              <td>{{object.get_inventory()}}</td>
              <td>{{object.get_expiration()[0]}}-{{object.get_expiration()[1]}}-{{object.get_expiration()[2]}}</td>
              <td bgcolor="red">{{object.is_expired()}}</td>
              
              <!-- Gluten Free -->
              {% if (object.get_glutenFree()) == "True" %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}

              <!-- Dairy Free -->
              {% if (object.get_dairyFree()) == "True" %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}

              <!-- Nut Free -->
              {% if (object.get_nutFree()) == "True" %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}

              <!-- Vegan -->
              {% if (object.get_vegan()) == "True" %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}

              <!-- Vegetarian -->
              {% if (object.get_vegetarian()) == "True" %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </body>
</html>