<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    
    <title>What's My Expiration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- Banner Image & Navigation Bar Standardization -->

        <!-- banner -->
        <div class="banner"><img src="{{ user_image }}"></div>

        <!-- navigation bar -->
        <header> 
            <nav>
                <div id="nav-bar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/inventory">Inventory</a></li>
                    <li><a href="/GroceryList">Grocery List</a></li>
                    <li><a href="/inbox">Inbox</a></li>
                    <li><a href="/recipe">Recipe</a></li>
                </div>
            </nav>
        </header>

    <!-- End of Standardization -->
    
    <!-- welcome -->
    <div class="welcome">
        <h2>W E L C O M E !</h2>
        <img src="../static/pics/fruit2.jpeg">
    </div>

    <!-- about -->
    <div class="about">
        <h2>"What's My Expiration?" is a multi-use platform that combines reminders related to food items for the average household while also creating use for food banks. While there are platforms that have certain features of this application towards simply expiration dates, this web application combines many of the uses found on singular websites and creates a unique experience for food banks to track their inventory. We have found the need to track when our food expires to avoid waste of resources as it often becomes difficult to track the needed resources in households and food banks alike.</h2>
    </div>

    <!-- footer -->
    <div>
        <footer id="footer">
          <p>"What's Your Expiration?" by Stella Bailey, Nhu Nguyen, and Alex Butler</p>
          <p>SheInnovates 2023 Project</p>
        </footer>
      </div>
</body>
</html>